---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="flex items-center justify-center">
    <div class="flex items-center flex-col mt-24">
      <h1 class="text-2xl font-bold">Welp! This is awkward.</h1>
      <p>The page you're searching for is not available.</p>
      <!-- <Link/> -->
    </div>
  </section>
</MainLayout>
