---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="This is a about page">
  <div class="space-y-2 border border-zinc-600 rounded-md p-4">
    <h1 class="font-semibold">About the AstroBlog</h1>
    <p class="text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur amet
      dolores obcaecati rerum vel non, ducimus, voluptatibus molestiae provident
      pariatur harum reprehenderit suscipit perspiciatis quia, necessitatibus
      rem culpa consequatur molestias!
    </p>
  </div>
</MainLayout>
