---
/* components */
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { fake_post_data } from "../data";
import PostCard from "../components/posts/PostCard.astro";
---

<MainLayout title="AstroBlog" description="This is a index page">
  <div class="space-y-8">
    <Hero />
    <About />
    <div class="space-y-4">
      <h1 class="font-bold text-xl underline">My latest blogs</h1>
      {
        fake_post_data.map((item) => (
          <PostCard head={item.title} body={item.text} />
        ))
      }
    </div>
  </div>
</MainLayout>
