---
const about_data = [
  {
    heading: "Why AstroBlog ?",
    para: `Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim veritatis,
      provident tempore nulla ut molestiae omnis voluptatem distinctio, earum
      praesentium quasi. Sunt voluptatibus porro quia.`,
  },
  {
    heading: "How To Publish ?",
    para: `Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim veritatis,
      provident tempore nulla ut molestiae omnis voluptatem distinctio, earum
      praesentium quasi. Sunt voluptatibus porro quia.`,
  },
];
---

<div class="w-full grid grid-cols-1 md:grid-cols-2 gap-3">
  {
    about_data.map((item, idx) => (
      <div class="bg-amber-400 px-4 py-3 rounded-md h-48 min-h-[12rem] flex justify-center flex-col border-2 border-amber-500">
        <h1 class="font-semibold">{item.heading}</h1>
        <p class="mt-2 text-sm">{item.para}</p>
      </div>
    ))
  }
</div>
