---
---

<footer class="absolute bottom-0 right-0 left-0 overflow-hidden px-3.5 w-full">
  <div class="flex items-center justify-between py-6">
    <h1 class="font-semibold">AstroBlog</h1>
    <h2 class="text-center text-xs font-medium text-zinc-400">
      Copyright &copy; AstroBlog 2023
    </h2>
  </div>
</footer>
