---
---

<section
  class="bg-zinc-800 text-zinc-100 h-40 max-h-40 rounded-md selection:bg-zinc-100 selection:text-zinc-800"
>
  <div class="px-5 py-4 w-full h-full flex flex-col justify-center gap-2">
    <h1 class="text-lg font-semibold">Welcome to the AstroBlog!</h1>
    <p class="text-[13px] md:text-sm">
      AstroBlog opens a wide range of posibilities for you, write down your
      daily thoughts and knowledge and share with thoudsands of others.
    </p>
  </div>
</section>
