---
import MainLayout from "./MainLayout.astro";
---

<MainLayout title="My Blog">
  <header>
    <div></div>
    <img src="" alt="" />
  </header>
  <div>
    <div>
      <slot />
    </div>
  </div>
</MainLayout>
